<%= form_with(local: true, url: admin_classes_class_sy_manage_index_path, data: { btn_class: "btn-primary" }) do |form| %>
  <label class="form-control w-full max-w-xs">
    <div class="label">
      <%= form.label :name, class: "label-text" %>
    </div>
    <%= form.text_field :name, class: "input input-bordered w-full max-w-xs" %>
    <div class="label">
      <span class="label-text-alt text-error"><%= flash[:name_error] %></span>
    </div>
  </label>

  <label class="form-control w-full max-w-xs">
    <div class="label">
      <%= form.label :start_date, class: "label-text" %>
    </div>
    <%= form.date_field :start, class: "input input-bordered w-full max-w-xs" %>
    <div class="label">
      <span class="label-text-alt text-error"><%= flash[:start_error] %></span>
    </div>
  </label>

  <label class="form-control w-full max-w-xs">
    <div class="label">
      <%= form.label :end_date, class: "label-text" %>
    </div>
    <%= form.date_field :end, class: "input input-bordered w-full max-w-xs" %>
    <div class="label">
      <span class="label-text-alt text-error"><%= flash[:end_error] %></span>
    </div>
  </label>

  <div>
    <%= form.submit "Add School Year", class: "btn btn-primary mt-4", data: { 'turbo-confirm': 'Are you sure you want to add this new school year?', btn_class: "btn-primary" } %>
  </div>

<% end %>