<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
  <% if @subjects_with_exams.present? %>
    <% @subjects_with_exams.each do |subject| %>
      <% if subject.exams.present? %>
        <% subject.exams.each do |exam| %>
          <div class="card bg-base-100 shadow-xl border-2 border-lime-400">
            <div class="card-body">
              <h2 class="card-title"><%= exam.name %></h2>
              <p><strong>Subject:</strong> <%= subject.name %></p>
              <p><strong>Number of Items:</strong> <%= exam.items %></p>
              <% subject.school_classes.each do |school_class| %>
                <div class="mt-2">
                  <p><strong>Class:</strong> <%= school_class.name %></p>
                </div>
              <% end %>
              <div class="card-actions justify-end mt-4">
                <%= link_to "View Exam", student_exams_manage_path(id: exam.id), class: "btn btn-primary" %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <div>
      <p>There are currently no subjects or exams assigned.</p>
    </div>
  <% end %>
</div>

<%= render "shared/default_password_prompt", target: student_config_path %>
