<p><strong>Version ID:</strong> <%= @version.id %></p>
<p><strong>Event:</strong> <%= @version.event %></p>
<p><strong>Created At:</strong> <%= format_date @version.created_at %></p>

<br>

<h2 class="text-2xl font-semibold mb-4">Basic Information</h2>

<div>
    <strong>Name: </strong>
    <span><%= @student.name %></span>
</div>
<div>
    <strong>Email: </strong>
    <span><%= @student.email %></span>
</div>

<br>

<h2 class="text-2xl font-semibold mb-4">Authentication Information</h2>

<div>
  <strong>Sign In Count: </strong>
  <span><%= @student.sign_in_count %></span>
</div>
<div>
  <strong>Current Sign In At: </strong>
  <span><%= @student.current_sign_in_at %></span>
</div>
<div>
    <strong>Last Sign In At: </strong>
    <span><%= format_date @student.last_sign_in_at %></span>
</div>
<div>
    <strong>Current IP: </strong>
    <span><%= @student.current_sign_in_ip %></span>
</div>
<br>

<h2 class="text-2xl font-semibold mb-4">Timestamps</h2>

<div>
    <strong>Created At: </strong>
    <span><%= format_date @student.created_at %></span>
</div>
<div>
    <strong>Updated At: </strong>
    <span><%= format_date @student.updated_at %></span>
</div>

<footer>
  <%= link_to "Rollback", admin_students_rollback_path(@student.id), class: "btn btn-primary" %>
</footer>
