<p><strong>Version ID:</strong> <%= @version.id %></p>
<p><strong>Event:</strong> <%= @version.event %></p>
<p><strong>Created At:</strong> <%= format_date @version.created_at %></p>
<p><strong>Author:</strong> <%= @version.whodunnit %></p>

<br>

<h2 class="text-2xl font-semibold mb-4">Basic Information</h2>

<div>
    <strong>Name: </strong>
    <span><%= @admin.name %></span>
</div>
<div>
    <strong>Email: </strong>
    <span><%= @admin.email %></span>
</div>
<div>
    <strong>Permission: </strong>
    <span><%= @admin.permission.name %></span>
</div>

<br>

<h2 class="text-2xl font-semibold mb-4">Authentication Information</h2>

<div>
    <strong>Sign In Count: </strong>
    <span><%= @admin.sign_in_count %></span>
</div>
<div>
    <strong>Current Sign In At: </strong>
    <span><%= format_date @admin.current_sign_in_at %></span>
</div>
<div>
    <strong>Last Sign In At: </strong>
    <span><%= format_date @admin.last_sign_in_at %></span>
</div>
<div>
    <strong>Current IP: </strong>
    <span><%= @admin.current_sign_in_ip %></span>
</div>
<br>

<h2 class="text-2xl font-semibold mb-4">Timestamps</h2>

<div>
    <strong>Created At: </strong>
    <span><%= format_date @admin.created_at %></span>
</div>
<div>
    <strong>Updated At: </strong>
    <span><%= format_date @admin.updated_at %></span>
</div>

<% if @admin.permission.name != 'SuperAdmin' %>
    <footer class="mt-4">
        <%= link_to "Rollback", admin_admins_rollback_path(@version.id), class: "btn btn-primary" %>
    </footer>
<% end %>
