<div id="list_sections">
  <header class="flex justify-between items-center mb-6">
    <%= search_form_for @q, url: admin_sections_manage_index_path, method: :get, html: { class: "join" } do |f| %>
      <%= f.search_field :name_or_description_cont, placeholder: "Search", class: "input input-bordered w-96 join-item", id: "search_input" %>
      <%= f.select :s, options_for_select(@sort_fields, selected: params.dig(:q, :s)), {}, { class: "select select-bordered join-item", onchange: 'this.form.submit();' } %>
      <button type="submit" class="btn btn-primary join-item">Search</button>
      <%= link_to "Reset", admin_sections_manage_index_path, class: "btn btn-secondary join-item" %>
    <% end %>
    <div class="join">
      <button class="btn btn-secondary join-item">Remove Selected</button>    
      <%= link_to "Export", admin_sections_export_path, class: "btn btn-primary join-item" %>
    </div>
  </header>

  <section>
    <div class="overflow-x-auto">
      <table class="table table-sm mb-6">
        <!-- head -->
        <thead>
          <tr>
            <th>
              <label>
                <input type="checkbox" class="checkbox" />
              </label>
            </th>
            <th>Section</th>
            <th>Description</th>
            <th>Archived</th>
            <th>Created At</th>
            <th>Updated At</th>

          </tr>
        </thead>
        <tbody>
          <!-- row 1 -->
          <% if @sections.present? %>
            <% @sections.each do | section | %>
              <tr class="hover">
                <th>
                  <label>
                    <input type="checkbox" class="checkbox" />
                  </label>
                </th>
                <td>
                  <div class="flex items-center gap-3">
                    <span><%= section.name %></span>
                  </div>
                </td>
                <td>
                  <span><%= section.description %></span>
                </td>
                <td>
                  <span><%= section.archived %></span>
                </td>
                <td>
                  <span><%= section.created_at %></span>
                </td>
                <td>
                  <span><%= section.updated_at %></span>
                </td>
                <td class="flex">
                  <%= link_to edit_admin_sections_manage_path(section), class: "btn btn-ghost btn-sm", data: { 'turbo-frame': 'modal' } do %>
                    <%= fa_icon "pencil lg" %>
                  <% end %>
                  <%= button_to admin_sections_manage_path(section), method: :delete, form: { data: { 'turbo-confirm': 'Are you sure?' } }, class: "btn btn-ghost btn-sm" do %>
                    <%= fa_icon "trash lg" %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
      <div class="flex justify-between items-center">
        <span><%= @count %> Sections</span>
        <%= paginate @sections, views_prefix: 'shared' %>
      </div>
    </div>
  </section>
</div>

<%= render "shared/toast", toast: flash[:toast] %>