<main class="h-screen w-screen bg-base-200 flex justify-center items-center">
  <div class="">
    <h2 class="text-4xl mb-4">Change your password</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <label class="form-control w-full">
        <div class="label field">
          <%= f.label :password, "New password", class: "label-text" %>
          <% if @minimum_password_length %>
            <em class="label-text-alt">(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
        </div>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "input input-bordered w-full" %>
      </label>

      <br>

      <label class="form-control w-full">
        <div class="label field">
          <%= f.label :password_confirmation, "Confirm new password", class: "label-text" %>
        </div>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input input-bordered w-full" %>
      </label>

      <div class="actions">
        <%= f.submit "Change my password", class: "btn btn-primary mt-4 w-full" %>
      </div>
    <% end %>

    <%= link_to 'Back to Login', new_user_session_path, class: 'btn bg-black mt-4 w-full text-white' %>

  </div>
</main>
