<%= form_with url: url_path, local: true, method: :patch do |form| %>
  <label class="form-control w-full max-w-xs">
    <div class="label">
      <%= form.label :new_account_password, class: "label-text" %>
    </div>
    <%= form.password_field :password, class: "input input-bordered w-full max-w-xs" %>
    <div class="label">
      <span class="label-text-alt text-error"><%= flash[:password_error] %></span>
    </div>
  </label>

  <label class="form-control w-full max-w-xs">
    <div class="label">
      <%= form.label :confirm_account_password, class: "label-text" %>
    </div>
    <%= form.password_field :password_confirmation, class: "input input-bordered w-full max-w-xs" %>
    <div class="label">
      <span class="label-text-alt text-error"><%= flash[:password_confirmation_error] %></span>
    </div>
  </label>

  <label class="form-control w-full max-w-xs">
    <div class="label">
      <%= form.label :your_password, class: "label-text" %>
    </div>
    <%= form.password_field :current_password, class: "input input-bordered w-full max-w-xs" %>
    <div class="label">
      <span class="label-text-alt text-error"><%= flash[:current_password_error] %></span>
    </div>
  </label>

  <div>
    <%= form.submit "Update Password", class: "btn btn-primary mt-4" %>
  </div>

<% end %>