<header class="flex justify-between items-center mb-6">
    <%= search_form_for @q, url: admin_admins_path, method: :get, html: { class: "join" } do |f| %>
        <input type="text" placeholder="Type here" class="input input-bordered w-96 join-item" />
        <%= f.select :s, options_for_select(@sort_fields, selected: params.dig(:q, :s)), {}, { class: "select select-bordered join-item", onchange: 'this.form.submit();' } %>
        <button class="btn btn-primary join-item">Search</button>
        <button class="btn btn-secondary join-item">Reset</button>
    <% end %>
  <div class="join">
    <button class="btn btn-secondary join-item">Remove Selected</button>    
    <button class="btn btn-primary join-item">Export</button>
  </div>
</header>
<section>
  <div class="overflow-x-auto">
    <table class="table table-sm mb-6">
      <!-- head -->
      <thead>
        <tr>
          <th>
            <label>
              <input type="checkbox" class="checkbox" />
            </label>
          </th>
          <th>Name</th>
          <th>Email</th>
          <th>Permission</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <!-- row 1 -->
        <% if @admins.present? %>
          <% @admins.each do | admin | %>
            <tr class="hover">
              <th>
                <label>
                  <input type="checkbox" class="checkbox" />
                </label>
              </th>
              <td>
                <div class="flex items-center gap-3">
                  <span><%= admin.name %></span>
                </div>
              </td>
              <td>
                <span><%= admin.email %></span>
                <br/>
                <span class="badge badge-ghost badge-sm">Current</span>
              </td>
              <td>
                <% admin.permissions.each do |permission| %>
                  <span><%= permission.name %></span>
                <% end %>
              </td>
              <td>
                <button class="btn btn-ghost btn-sm"><%= fa_icon "pencil lg" %></button>
                <button class="btn btn-ghost btn-sm"><%= fa_icon "trash lg" %></button>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <div class="flex justify-between items-center">
      <span><%= @count %> Admins</span>
      <%= paginate @admins, views_prefix: 'shared' %>
    </div>
  </div>
</section>