<%= form_with(local: true, url: admin_admins_path) do |form| %>
  <label class="form-control w-full max-w-xs">
    <div class="label">
      <%= form.label :name, class: "label-text" %>
    </div>
    <%= form.text_field :name, class: "input input-bordered w-full max-w-xs" %>
    <div class="label">
      <span class="label-text-alt text-error"><%= flash[:name] %></span>
    </div>
  </label>
  
  <label class="form-control w-full max-w-xs">
    <div class="label">
        <%= form.label :permission, class: "label-text" %>
    </div>
        <%= form.collection_select :permission_id, @permissions, :id, :name, {}, { class: "select select-bordered" } %>
    <div class="label">
      <span class="label-text-alt text-error"><%= flash[:permission] %></span>
    </div>
  </label>

  <label class="form-control w-full max-w-xs">
    <div class="label">
      <%= form.label :email, class: "label-text" %>
    </div>
    <%= form.email_field :email, class: "input input-bordered w-full max-w-xs" %>
    <div class="label">
      <span class="label-text-alt text-error"><%= flash[:email] %></span>
    </div>
  </label>

  <label class="form-control w-full max-w-xs">
    <div class="label">
      <%= form.label :password, class: "label-text" %>
    </div>
    <%= form.password_field :password, class: "input input-bordered w-full max-w-xs" %>
    <div class="label">
      <span class="label-text-alt text-error"><%= flash[:password] %></span>
    </div>
  </label>

  <div>
    <%= form.submit "Add Admin", class: "btn btn-primary mt-4" %>
  </div>

<% end %>