<%= form_with(model: @section, url: admin_sections_manage_path(@section), method: :patch, local: true) do |form| %>
    <label class="form-control w-full max-w-xs">
      <div class="label">
        <%= form.label :name, class: "label-text" %>
      </div>
      <%= form.text_field :name, class: "input input-bordered w-full max-w-xs" %>
    </label>
  
    <label class="form-control w-full max-w-xs">
      <div class="label">
        <%= form.label :description, class: "label-text" %>
      </div>
      <%= form.text_field :description, class: "input input-bordered w-full max-w-xs" %>
    </label>

    <label class="form-control w-full max-w-xs">
      <div class="label">
        <%= form.label :archived, class: "label-text" %>
      </div>
      <%= form.check_box :archived, class: "checkbox" %>
    </label>
  
    <div>
      <%= form.submit "Update Section", class: "btn btn-primary mt-4" %>
    </div>
  
  <% end %>