<!DOCTYPE html>
<html>
  <head>
    <title>GradifyWeb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= render "shared/confirm" %>

    <main>
      <div class="drawer lg:drawer-open">
        <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
        <div class="drawer-content">
          <!-- Page content here -->
          <%= yield %>
          <label for="my-drawer-2" class="btn btn-primary drawer-button lg:hidden">Open drawer</label>
        </div>
        <div class="drawer-side">
          <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label>
          <ul class="menu p-4 w-80 min-h-full bg-base-200 text-base-content">
            <!-- Sidebar content here -->
            <div class="px-4 mb-4 mr-4 flex items-center">
              <%= image_tag 'GF.png', class: 'w-16 h-16 rounded-lg mr-4' %>
              <span class="ml-4 text-4xl font-bold">Gradify</span>
            </div>
            <li class="text-lg <%= current_drawer?(admin_account_root_path) %>">
              <%= link_to admin_account_root_path do %>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-pie-chart me-4">
                  <path d="M21.21 15.89A10 10 0 1 1 8 2.83"></path>
                  <path d="M22 12A10 10 0 0 0 12 2v10z"></path>
                </svg>
                Overview
              <% end %>
            </li>
            <li class="text-lg <%= current_drawer?("/admin/admins", included: true) %>">
              <%= link_to admin_admins_manage_index_path do %>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shield me-4"><path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path></svg>
                Manage Admins
              <% end %>
            </li>
            <li class="text-lg">
              <a>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users me-4"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                Manage Students
              </a>
            </li>
            <li class="text-lg">
              <a>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-hexagon me-4"><path d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"></path></svg>
                Manage Teachers
              </a>
            </li>
            <li class="text-lg">
              <a>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-book-open me-4"><path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z"></path><path d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"></path></svg>
                Manage Classes
              </a>
            </li>
            <li class="text-lg">
              <a>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity me-4"><polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline></svg>
                Activity Log
              </a>
            </li>
            <div class="flex-1 flex flex-col justify-end">
              <div class="card bg-base-100 shadow-xl">
                <div class="card-body p-4">
                  <h2 class="card-title mb-2"><%= current_admin_account.name %></h2>
                  <div class="card-actions justify-between items-center">
                    <div class="flex justify-between items-center">
                      <%= fa_icon "cog 2x", class: "h-10 w-10" %>
                      <label class="swap swap-rotate">
                        <!-- this hidden checkbox controls the state -->
                        <input type="checkbox" class="theme-controller" value="light" />

                        <!-- sun icon -->
                        <%= fa_icon "sun-o 2x", class: "swap-off h-10 w-10 fill-current" %>

                        <!-- moon icon -->
                        <%= fa_icon "moon-o 2x", class: "swap-on h-10 w-10 fill-current" %>
                      </label>
                    </div>
                    <%= link_to 'Sign Out', destroy_admin_account_session_path, method: :delete, data: { turbo_method: :delete }, class: "btn btn-primary" %>
                  </div>
                </div>
              </div>
            </div>
          </ul>
        </div>
      </div>
    </main>
  </body>
</html>
