<!DOCTYPE html>
<html data-controller="theme">
  <head>
    <title>GradifyWeb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= render "shared/confirm", btn_class: "btn-success" %>

    <main>
      <div class="drawer lg:drawer-open">
        <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
        <div class="drawer-content">
          <!-- Page content here -->
          <%= yield %>
               <label for="my-drawer-2" 
               class="btn btn-primary drawer-button fixed left-0 top-1/2 transform -translate-y-1/2 
                      md:top-1/3 lg:hidden transition-all duration-300">></label>
        </div>
        <div class="drawer-side">
          <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label>
          <ul class="menu p-4 w-80 min-h-full bg-base-200 text-base-content">
            <!-- Sidebar content here -->
            <div class="px-4 mr-4 flex items-center">
              <%= image_tag 'GF.png', class: 'w-8 h-8 rounded-lg' %>
              <span class="ml-4 text-2xl font-bold uppercase" style="font-family: Poppins">Gradify</span>
            </div>
            <div class="divider"></div>
            <li class="text-xl <%= current_drawer?(admin_root_path) %>">
              <%= link_to admin_root_path do %>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-pie-chart me-4">
                  <path d="M21.21 15.89A10 10 0 1 1 8 2.83"></path>
                  <path d="M22 12A10 10 0 0 0 12 2v10z"></path>
                </svg>
                Overview
              <% end %>
            </li>

            <li class="text-xl <%= current_drawer?("/admin/workforce", included: true) %>">
              <%= link_to admin_workforce_manage_index_path do %>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-pie-chart me-4">
                  <path d="M21.21 15.89A10 10 0 1 1 8 2.83"></path>
                  <path d="M22 12A10 10 0 0 0 12 2v10z"></path>
                </svg>
                Manage Workforce
              <% end %>
            </li>

            <li class="text-xl <%= current_drawer?("/admin/students", included: true) %>">
              <%= link_to admin_students_manage_index_path do %>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users me-4"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                Manage Students
              <% end %>
            </li>
            <li class="text-xl <%= current_drawer?("/admin/classes", included: true) %>">
              <%= link_to admin_classes_manage_index_path do %>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-book-open me-4"><path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z"></path><path d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"></path></svg>
                Manage Classes
              <% end %>
            </li>
            <li class="text-xl <%= current_drawer?("/admin/classes/sections", included: true) %>">
              <%= link_to "admin_classes_class_sy_sections_manage_index_path" do %>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers me-4">
                  <rect x="2" y="2" width="20" height="8" rx="2" ry="2"></rect>
                  <rect x="2" y="14" width="20" height="8" rx="2" ry="2"></rect>
                </svg>
                Manage Sections
              <% end %>
            </li>

            <div class="flex-1 flex flex-col justify-end">
              <div class="card bg-base-100 shadow-xl">
                <div class="card-body p-4">
                  <h2 class="card-title mb-2"><%= current_user.name %></h2>
                  <div class="card-actions justify-between items-center">
                    <div class="flex justify-between items-center">
                      <%= link_to admin_config_path do %>
                        <%= fa_icon "cog 2x", class: "h-10 w-10" %>
                      <% end %>
                      <label class="swap swap-rotate" data-theme-target="switch">
                        <!-- this hidden checkbox controls the state -->
                        <input type="checkbox" data-action="click->theme#changeTheme" class="theme-controller" />

                        <!-- sun icon -->
                        <%= fa_icon "sun-o 2x", class: "swap-on h-10 w-10 fill-current" %>

                        <!-- moon icon -->
                        <%= fa_icon "moon-o 2x", class: "swap-off h-10 w-10 fill-current" %>
                      </label>
                    </div>
                    <%= button_to 'Sign Out', destroy_user_session_path, method: :delete, data: { turbo_method: :delete, 'turbo-confirm': "Are you sure to sign out?" }, class: "btn btn-sm btn-primary" %>
                  </div>
                </div>
              </div>
            </div>
          </ul>
        </div>
      </div>
    </main>
  </body>
</html>
